{% extends "layout.html" %}
  
{% block content %}



<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<form role="form" method="get" action="{{ url_for('cadastrar') }}">
						<div class="form-group">
							 
							<label for="cpf">
								Informe o CPF
							</label>
							<input type="text" class="form-control" id="cpf" name="cpf"/>
						</div>

						<div class="form-group">
							 
							<label for="cpf">
								Situacao
							</label>
							<select name="situacao" >
								<option ></option>
								<option value="BLOCK">Black List</option>	
								<option value="FREE">White List</option>	

							</select>

							
						</div>
						
					
						<button type="submit" class="btn btn-default">
							Cadastrar
						</button>
					</form>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}