{% extends "layout.html" %}
{% block content %}
<div class="container-fluid"> 
	

	{{status}}
	<hr>

	<table class="table table-hover text-centered">
		<thead>
			<tr>
				<th>CPF</th>
				<th>Situacao</th>
				<th>Acao <a href="{{ url_for('cadastro') }}" class="btn btn-success btn-sm">Cadastrar</a></th>
			</tr>
		</thead>
		<tbody>
			{% for dados in retorno%}
			<tr>
				<td>{{dados._id}}</td>
				<td>{{dados.status}}</td>
				<td>
					<a href="{{ url_for('white',cpf= dados._id) }}" class="btn btn-info btn-sm">White List</a>
					<a href="{{ url_for('black',cpf= dados._id) }}" class="btn btn-danger btn-sm">Black List</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>

		<tfoot>
			<tr>
				<th></th>
				<th>Total de CPF Cadastrado(s)</th>
				<th>{{ qtd }}</th>
			</tr>
		</tfoot>

	</table>

</div>

<code>
	{{retorno}}

</code>



{% endblock %}