<!DOCTYPE html>
<html>
<head>
  <title>Teste App</title>    
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <style type="text/css">
    code{background:#F8F8FF; border:black dashed 1px; padding:6px}
    
  </style>
</head>
<body>
 
  <header>
   <div class="container">
    <h1 class="logo">Teste App</h1>
    <strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('buscar') }}">Consultar</a></li>       
      </ul>
    </nav></strong>
  </div>
</header> 

<div class="container">
  {% block content %}
  {% endblock %}
</div>

</body>
</html>